@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        

            @Html.ActionLink("Customer Portal", "Index", "Customer", null, new { @class = "btn btn-outline-dark m-2" })
            @Html.ActionLink("Staff Portal", "Index", "Staff", null, new { @class = "btn btn-outline-dark m-2" })
        
        




        <!--
        <a asp-controller="Customer" asp-action="Index" class="col">
            <div class="action-box">Customer Portal</div>
        </a>
        <div class="col-1"></div>
        <a asp-controller="Staff" asp-action="Index" class="col">
            <div class="action-box col">Staff Portal</div>
        </a>
        -->


    </div>
</div>

