@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        

            @Html.ActionLink("Customer Portal", "Index", "Customer", null, new { @class = "btn btn-primary m-2" })
            @Html.ActionLink("Staff Portal", "Index", "Staff", null, new { @class = "btn btn-primary m-2" })
        


    </div>
</div>

