@model List<Bartender.Models.Drink>

<div class="container">
    <h2>Customer Portal</h2>
</div>

<section class="container">
   
        <table class="table-primary">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Ingredients</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Price</td>
                    <td>@x.Ingredients</td>
                    <td>
                        <div class="options">
                            @Html.ActionLink("Place Order", "PlaceOrder", "Customer", new Order { Item = x.Name, Price = x.Price, Username = User.Identity.Name }, new { @class = "btn btn-outline-dark m-2" })
                        </div>
                    </td>
                </tr>
            }
        </table>
    
</section>
