@model List<Bartender.Models.Drink>

<div class="container">
    <h2>Customer Portal</h2>
</div>

<section class="container">
   
        <table class="table-primary">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Ingredients</th>
            </tr>
            @foreach (var x in Model)
            {
                <tr>
                    <td>@x.Name</td>
                    <td>@x.Price</td>
                    <td>@x.Ingredients</td>
                    <td>
                        <div class="options">
                            <!-- ADD A "PLACE ORDER" BUTTON -->
                            
                        </div>
                    </td>
                </tr>
            }
        </table>
    
</section>
